.listingCardContainer {
  width: 250px;
  height: 380px;
  overflow: hidden;
  border: 1px solid tomato;
  border-radius: 15px;
  transition: 0.3s;
  animation: ease-in-out;
  background: rgba(255, 255, 255, 0.471);
  color: tomato;
  margin: 10px;
}
.listingCardButton {
  width: 250px;
  height: 40px;
  margin: 1em auto;
  display: block;
  background-color: tomato;
  color: white;
  box-shadow: none;
  position: relative;
  overflow: hidden;
  padding-top: auto;
}
.listingCardButton:hover {
  background: rgb(232, 65, 36);
  cursor: pointer;
}

.imageContainer img {
  overflow: hidden;
  height: 170px;
  width: 360px;
  object-fit: none;
}
.cardContent {
  margin: 1rem;
  margin-top: 0.3rem;
}
.titleh3 {
  margin: 0;
  padding: 0;
}
.bodyp {
  margin: 0;
  padding: 0;
  height: 55px;
}
.cardTitle {
  margin-bottom: 0.5rem;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.grid {
  min-height: 100%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
