.newlisting {
  overflow: hidden;
}
.loadingWrapperNewListing {
  display: flex;
  height: 100%;
  width: 100%;
  background: rgba(128, 128, 128, 0.413);
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 80px;
}
